html {
    margin: 0px;
    width: 100vw;
}

body {
    margin: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 65, 99);
    margin: 0px;
    padding: 0;
}

/* HEADER + LABEL STYLES*/

header {
    background-image: url(background3.jpeg);
    background-repeat: no-repeat;
    background-size:100vw 170vh;
    height: 169vh;

    color: white;
    padding: 5px;
    /* border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 4px;*/
    text-align: center;
    padding-bottom: 0px;
    margin: 0px;
    
}

header h1 {
    width: 60vw;
    word-wrap:normal;
    font-size: 120px;
    margin-top: 30vh;
    margin-bottom: 5vh;
   margin-left: auto;
   margin-right: auto;
   font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;     

}

#presents {
    width: 40vw;
    padding: 20px;
    padding-bottom: 10px;
    color: white;
    margin-top: 35vh;
    margin-left: 30vw;
    text-align: center;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    font-weight: 600;
    font-size: 4vw;
    padding-left: 20px;
    font-weight:bolder;
}

#introduction {
    width: 100vw;
    color: white;
    font-size: 7vw;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;     
    font-weight: 600;
    margin: 0 auto;
}

.description-label {
    background:linear-gradient(to bottom, rgb(1,3,26,100),rgb(59, 65, 99)); 
    position: relative;
    height: 17.5vh;
    margin: 0;
}

.description-label h2 {
    width: 60vw;
    background-color: white;
    color:rgb(2, 4, 38);
    font-size: 50px;
    padding: 10px;
    margin: 0 auto;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    border-radius: 35px;
    border-style: solid;
    border-color: white;
    text-align: center;
} 

/* IMAGE STYLES */

 .image-fade {
    box-shadow: 0 0 100px 100px rgb(59, 65, 99) inset;
} 

/* CONCERT CONTAINER STYLES*/

/* #gradient-spacer {
    width: 100vw;
    height: 20vh;
} */

.concert-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
}

.reverse-concert-container {
    display: flex;
    flex-direction:row-reverse;
    padding: 20px;
}

.container-information {
    color:rgb(2, 4, 38);
    width: 30%;
    border-radius: 35px;
    border-style: solid;
    padding: 20px;
    margin: 20px;

    /* background-color: rgb(190, 170, 220);
    background-color: rgb(140, 112, 181); */
    background-color: rgb(58, 222, 181);
    border-color: white;
    font-size: 25px;

}

.gill-font {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-size: 25px;
}

.concert-title {
    
    font-size: 30px;
}

/* .reversed-info {
    background-color: rgb(59, 65, 99);
    border-color: white;
    color: white;
}

.regular-info {
    background-color: rgb(151, 159, 201);
    border-color: white;
    color: black;
} */

.container-copy {
    width: 70%;
    padding: 10px;
    margin: 20px;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;     
    line-height: 35px;
    font-size: 22px;
}

#concert1-copy {
    background-image: url(background-2.jpeg);
    box-shadow: 0 0 50px 50px rgb(59, 65, 99) inset;
    background-size: cover;
    padding: 70px;
    padding-top: 90px;
    padding-left: 90px;
    background-repeat: no-repeat;
    text-wrap: stable;
}

#concert1-copy p{
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 10px 10px rgb(23, 28, 51) inset;
    color: rgb(23, 28, 51);
}

#concert1-info {
    margin-top: 0;
}

.container-img {
    width: 30%;
    margin: auto;
    position: relative;
    top: 0px;
}

.light-scheme {
    background-color: rgb(23, 28, 51);
    color: white;
}

.dark-scheme {
    background-color: rgb(59,65,99);
    color: white;
}

.bookmark {
    position: sticky;
    bottom:20px;
    background-color: rgb(2, 4, 38);
    height: 5vh;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 12vw;
    height: 5vh;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-weight: 600;
    margin-left: 85vw;
    padding-top: 1vh;
}


a {
    text-decoration: none;
    color: white;
}

.bookmark:hover {
    background-color: white;
    border-color:rgb(2, 4, 38);
    a {
        color:rgb(2, 4, 38);
    }
}

 footer {
    background-color: rgb(58, 222, 181);
    height: 10vh;
    margin: 0 auto;
    font-style: bolder;
    text-align: center;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-weight: 600;
    color:rgb(2, 4, 38);
}

footer p {
    margin-bottom: 0;
    padding-top: 4vh;
    font-size: 20px;
} 


