html {
    margin: 0;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-gap: 0;
    background-color: rgb(59, 65, 99);
    margin: 0;
}

header {
    background-image: url(background3.jpeg);
    background-repeat: repeat-y;
    background-size:100vw;
    height: 190.5vh;

    color: white;
    padding: 5px;
    /* border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 4px;*/
    text-align: center;
    padding-bottom: 0px;
    margin: 0;
    
}

header h1 {
    width: 80vw;
    word-wrap: break-word;
    font-size: 120px;
    margin-top: 30vh;
    margin-bottom: 5vh;
   margin-left: auto;
   margin-right: auto;
   font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;     

}

#presents {
    background-color: white;
    width: 40vw;
    padding: 20px;
    padding-bottom: 10px;
    color: black;
    margin-top: 40vh;
    text-align: left;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    font-weight: 600;
    font-size: 5vw;
    padding-left: 20px;
    font-weight:bolder;
}

#introduction {
    width: 100vw;
    color: white;
    font-size: 8vw;
    text-align: left;
    font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif;     
    font-weight: 600;
    margin: 0 auto;
    margin-left: 20px;
}

.description-label {
    background:linear-gradient(to bottom, rgb(1,3,26,100),rgb(59, 65, 99));
    height: 17.5vh;
    margin: 0;
}

.description-label h2 {
    margin: 0 auto;
    width: 60vw;
    background-color: white;
    color: black;
    font-size: 50px;
    margin-top: 30vh;
    padding: 10px;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

.image {
    width: 45vw;
}

.concert1-container {
    background-color: rgb(59,65,99);
    color: white;
}

.concert2-container {
    background-color: rgb(151, 159, 201);
    color: black;
}