p {
    text-align: left;
    margin-bottom: 20px;
}

img {
    width: 400px;
    margin-top: 30px;
}

.container {
    width:fit-content;
    padding: 20px;
    margin: 50px;
    border: solid grey 10px;
    border-radius: 30px;
    background-color: white;
}

body {
    background-color: black;
}

button {
    text-align: center;
    width: 150px;
    height: 50px;
    color: black;
    border-radius: 5px;
    border-width: 3px;
    margin-bottom: 50px;
}
